@charset "utf=8";

header{
  background-color: lightskyblue;
  display: flex;
  text-align: center;
}

.info {
  margin: auto;
}

.icon {  
  margin: auto;
}

.icon img {
  border-radius: 50%;
  border-width: 4px;
  border-style: solid;
  border-color: white
}

.all {
  text-align: center;
}

.skill , .work , .pr {
  padding-top: 48px;
}



.work > h1 , .skill > h1 , .pr > h1 {
  font-size: 40px;
  text-decoration: underline;
  margin: auto;
}

.skill > h1 , .pr > h1 { 
  padding-bottom: 30px;
}

.work > h1 {
  padding-bottom: 64px;
}


table {
  margin: auto;
}

body {
  background-color: rgb(197, 229, 235);
  margin: 0;
}

.htmlcss img {
  padding-top: 20px;
}


@media (min-width: 900px){
  .container {
    display: flex;
    margin: auto;
    width: 800px;
  }

  .info {
    width: 60%;
    line-height: 2;
  }

  .icon {
    width: 40%;
  }
}


header img {
  height: 230px;
}

.photoshop .htmlcss img {
  height: 100px;
}



.pr p {
  display: inline-block;
  text-align: left;
  background-color: lightskyblue;
  line-height: 2;
}

.work {
  position: relative;
}

.learn > h1 {
  font-size: 25px;
  position:absolute;
  top: 10%;
  left: 15%;
} 

.learn > p {
  position:absolute;
  top: 16%;
  left: 15%;
}

.original > h1 {
  font-size: 25px;
  position:absolute;
  top: 52%;
  left: 15%;
}

.original > p {
  position:absolute;
  top: 58%;
  left: 15%;
}

.original > img {
  margin-top: 115px;
}

.learn img {
  margin-top: 32px;
}












